<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;FMT=Delimited'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;FMT=Delimited'" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Data.Common, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <sessionState timeout="500" />
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <appSettings>
    <!--<add key="ConnPGSql" value="Server=localhost;Port=5432;User Id=postgres;Password=welcome;Database=bolx_1;" />-->
    <add key="ConnPGSql" value="Server=209.209.40.79;Port=19392;User Id=BOLX2021;Password=bolx@@!!;Database=BOLX;" />
    <add key="TimeZone" value="India Standard Time" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronSoftware.Logger" publicKeyToken="212d70e9efeae4c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.4471" newVersion="1.0.0.4471" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>